* {
}

body, html {
    margin: 0;
    height: 100%;
}

.navbar {
    margin-bottom: 0px !important;
}

.content {
    min-height: 100%;
    margin-bottom: -60px;
    padding-bottom: 60px;
}

.footer {
    border-top: 1px solid #E7E7E7;
    margin-bottom: -60px;
    padding: 10px 0;
    text-align: center;
}
