* {
    font-family: 'Open Sans', 'Helvetica Neue', 'Apple SD Gothic Neo', 'Nanum Gothic', 'Arial', 'Apple Gothic', sans-serif;
    font-weight: 400;
    line-height: 160%;
}

body, html {
    margin: 0;
    height: 100%;
    font-size: 15px;
    color: #666;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', 'Helvetica Neue', 'Apple SD Gothic Neo', 'Nanum Gothic', 'Arial', 'Apple Gothic', sans-serif;
    font-weight: 700;
    color: #333;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.navbar {
    padding: 10px 0;
    margin-bottom: 0px !important;
}

.navbar-brand {
    float: none;
    padding: 5px 25px 5px 15px;
}

.navbar-brand img {
    width: 150px;
    height: auto;
}

.navbar-default {
    background: none;
    border: 0;
    border-radius: 0;
}

.navbar-default .navbar-nav>li>a, .dropdown-menu>li>a {
    font-family: 'Lato', 'Helvetica Neue', 'Apple SD Gothic Neo', 'Nanum Gothic', 'Arial', 'Apple Gothic', sans-serif;
    color: #333;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: 0;
}

.navbar-default .glyphicon {
    margin-right: 3px;
    top: 2px;
}

.navbar-default .glyphicon-python {
    width: 16px;
    height: 16px;
    background: url("../image/python-black.png");
    background-size: 100% 100%;
    opacity: 0.8;
}

.wrap {
    min-height: 100%;
    margin-bottom: -60px;
    padding-bottom: 60px;
}

.content {
}

.sponsors {
}

.footer {
    border-top: 1px solid #E7E7E7;
    margin-bottom: -60px;
    padding: 10px 0;
    text-align: center;
}

.footer p {
    font-family: 'Lato', 'Helvetica Neue', 'Apple SD Gothic Neo', 'Nanum Gothic', 'Arial', 'Apple Gothic', sans-serif;
    font-size: 90%;
}

@media (max-width: 992px) {
    .navbar-brand img {
        width: 120px;
    }

    .navbar-nav>li>a {
        padding: 10px;
    }
}
