* {
    font-family: 'Open Sans', 'Helvetica Neue', 'Apple SD Gothic Neo', 'Nanum Gothic', 'Arial', 'Apple Gothic', sans-serif;
    font-weight: 400;
    line-height: 160%;
}

body, html {
    margin: 0;
    font-size: 15px;
    color: #666;
}

h1, h2, h3, h4, h5, h6, th, .title {
    font-family: 'Lato', 'Helvetica Neue', 'Apple SD Gothic Neo', 'Nanum Gothic', 'Arial', 'Apple Gothic', sans-serif;
    color: #333;
}

h1, h2, h3, h4, h5, h6, th {
    font-weight: 700;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.navbar {
    padding: 10px 0;
    margin-bottom: 0px !important;
}

.navbar-brand {
    float: none;
    padding: 5px 25px 5px 15px;
}

.navbar-brand img {
    width: 150px;
    height: auto;
}

.navbar-default {
    background: none;
    border: 0;
    border-radius: 0;
}

.navbar-default .navbar-nav>li>a, .dropdown-menu>li>a {
    font-family: 'Lato', 'Helvetica Neue', 'Apple SD Gothic Neo', 'Nanum Gothic', 'Arial', 'Apple Gothic', sans-serif;
    color: #333;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: 0;
}

.navbar-default .glyphicon {
    margin-right: 3px;
    top: 2px;
}

.navbar-default .glyphicon-python {
    width: 16px;
    height: 16px;
    background: url("../image/python-black.png");
    background-size: 100% 100%;
    opacity: 0.8;
}

.wrap {
    padding-bottom: 200px;
}

.content {
}

.dancheong {
    width: 100%;
}

.dancheong td {
    font-size: 1px;
    line-height: 5px;
}

.sunset {
    position: relative;
    padding: 8% 0 15% 0;
    color: #FAFAFA;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    background-color: #8795AD;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#FFFFFF),to(#8795AD));
    background-image: -webkit-linear-gradient(top,#FFFFFF 0,#8795AD 100%);
    background-image: -o-linear-gradient(top,#FFFFFF 0,#8795AD 100%);
    background-image: linear-gradient(to bottom,#FFFFFF 0,#8795AD 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#8795AD', GradientType=0);
    background-repeat: repeat-x;
    overflow: hidden;
    z-index: 1;
}

.slogan {
    position: relative;
    z-index: 2;
    top: 10%;
}

.slogan img {
    width: 50%;
    height: auto;
}

.slogan h1 {
    color: #FFFFFF;
}

.sunset .background {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 200px;
}

.background .mountain {
    position: absolute;
    width: 100%;
    height: 25%;
    left: 0;
    bottom: 0;
}

.background .tower-1 {
    position: absolute;
    left: 75%;
    width: 2%;
    height: auto;
    bottom: 15%;
}

.background .tower-2 {
    position: absolute;
    left: 25%;
    width: 2%;
    height: auto;
    bottom: 21%;
}

.background .tower-3 {
    position: absolute;
    left: 73%;
    width: 1.25%;
    height: auto;
    bottom: 15%;
}


.sponsors {
}

.timetable .title {
    font-size: 110%;
}

.footer {
    padding: 10px 0;
    text-align: center;
}

.footer p {
    font-family: 'Lato', 'Helvetica Neue', 'Apple SD Gothic Neo', 'Nanum Gothic', 'Arial', 'Apple Gothic', sans-serif;
    font-size: 90%;
}

@media (max-width: 992px) {
    .navbar-brand img {
        width: 120px;
    }

    .navbar-nav>li>a {
        padding: 10px;
    }
}
