{% extends "base.html" %}
{% load i18n %}

{% block titlebar %}
{% include "titlebar.html" with title=object.name %}
{% endblock %}

{% block content %}
<ul class="list-group">
  <li class="list-group-item">
    <span class="glyphicon glyphicon-time"></span> {{ object.date }} {{ object.get_times }}
  </li>
  <li class="list-group-item">
    <span class="glyphicon glyphicon-map-marker"></span> {{ object.room }}
  </li>
  <li class="list-group-item">
    {% for speaker in object.speakers.all %}
    <div class="speaker-small">
    <a href="{{ speaker.get_absolute_url }}">
        {% if speaker.image %}
        <img class="image" src="{{ speaker.image.url }}" alt="photo of {{ speaker.slug }}">
        {% endif %}
        <span class="name">{{ speaker }}</span>
    </a>
    </div>
    {% endfor %}
  </li>
</ul>
<h3>{% trans "Description" %}</h3>
{{ object.desc|safe }}
{% endblock %}
