<table class="dancheong" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td style="background:#941E34">&nbsp;</td>
      <td style="background:#BC6F25">&nbsp;</td>
      <td style="background:#e5b560">&nbsp;</td>
      <td style="background:#455f54">&nbsp;</td>
      <td style="background:#6789ca">&nbsp;</td>
      <td style="background:#594743">&nbsp;</td>
      <td style="background:#a4a199">&nbsp;</td>
      <td style="background:#504e49">&nbsp;</td>
      <td style="background:#a4a199">&nbsp;</td>
      <td style="background:#d8ccad">&nbsp;</td>
      <td style="background:#DFDFDD">&nbsp;</td>
    </tr>
  </tbody>
</table>
