{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
<script>
$(function() {
    $('.background').animate({top:0, opacity:0.1}, {duration:2500});
    $(window).scroll(function() {
        var top = $(document).scrollTop();
        $('.background').offset({top:70+top/3});
    });
});
</script>
{% endblock %}

{% block frontpage %}
<div class="sunset">
  <div class="container slogan">
    <img src="{% static "image/pyconkr-logo-large.png" %}">
    <h1>{% trans "Slogan of PyCon Korea" %}</h1>
    <p>{% trans "Information of PyCon Korea" %}</p>
  </div>
  <div class="background">
    <img class="mountain" src="{% static "image/bg-mountain.png" %}">  
    <img class="tower-1" src="{% static "image/bg-ntower.png" %}">
    <img class="tower-2" src="{% static "image/bg-tower.png" %}">
    <img class="tower-3" src="{% static "image/bg-tower.png" %}">
  </div>
</div>
{% endblock %}
{% block content %}
<div class="container wrap">
    <h2>{% trans "Announcements" %}</h2>
    <ul>
    {% for announcement in recent_announcements %}
    <li><a href="{% url "announcement" announcement.id %}">{{ announcement }}</a></li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
