{% extends "base.html" %}
{% block wrap %}
{% for d, d_ in narrow.items %}
<div class="timetable hidden-lg">
    <h2>{{ d }}</h2>
    <table class="table">
        <tbody>
            {% for t, t_ in d_.items %}
            <tr>
                <th rowspan="{{ t_.items|length }}">{{ t.begin|date:"H:i" }}</th>
                {% for r, s in t_.items|slice:"1" %}
                <td class="tiny">{{ s.room }}</td>
                <td class=""><a href="{{ s.get_absolute_url }}">{{ s }}</a></td>
                {% endfor %}
            </tr>
            {% for r, s in t_.items|slice:"1:" %}
            <tr>
                <td class="tiny">{{ s.room }}</td>
                <td class="ft"><a href="{{ s.get_absolute_url }}">{{ s }}</a></td>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endfor %}
{% for d, d_ in wide.items %}
<div class="timetable hidden-xs">
    <h2>{{ d }}</h2>
    <table class="table table-striped table-bordered">
        <colgroup>
            <col width="*">
            {% for r in rooms %}
            <col width="30%">
            {% endfor %}
        </colgroup>
        <thead>
            <th></th>
            {% for r in rooms %}
            <th>{{ r.name }}</th>
            {% endfor %}
        </thead>
        <tbody>
            {% for t, t_ in d_.items %}
            <tr>
                <th>{{ t.begin|date:"H:i" }}</th>
                {% for r, s in t_.items %}
                {% if s %}
                <td class="cell"
                    colspan="{{ s.rooms.all|length }}"
                    rowspan="{{ s.times.all|length }}"
                    onclick="document.location='{{ s.get_absolute_url }}'">
                    <div class="program">
                        <a href="{{ s.get_absolute_url }}">
                            <div class="title">{{ s.name }}</div>
                        </a>
                    </div>
                    {% if s.speakers %}
                    <div class="speaker">
                        {% for speaker in s.speakers.all %}
                        <a href="{{ speaker.get_absolute_url }}">{{ speaker.name }}</a>
                        {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </td>
                {% else %}
                <td></td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endfor %}
{% endblock %}
